body {
    margin: 0;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(84, 203, 253);
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: 80vh; */
}

.UI-grid {
    height: 100vh;
    background-color: rgba(223, 223, 223, 0.89);
    display: grid;
    grid-auto-rows: minmax(30vh, 40vh);
}

.form-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-row-gap: 1em;
    /* justify-items: right; */
}

.login-heading {
    font-size: clamp(17px, 3vw, 35px);
    padding-top: 23vh;
    margin-left: 32%;
    margin-right: auto;
}

.login-label {
    display: inline;
    font-size: clamp(15px, 2.5vw, 32px);
    width: 50%;
    margin-right: 0px;
    margin-left: auto;
    font-weight: bold;
}

.login-input {
    padding-left: 2vw;
    padding-right: calc(50vw - 25vw);
}

.login-input input {
    font-size: clamp(12px, 2vw, 28px);
}

.login-pass-vis {
    width: 100%;
    font-size: clamp(12px, 2vw, 28px);
    text-align: left;
    margin-left: 1em;
}

.pass-vis-check {
    text-align: center;
}

.forgot-password {
    width: 100%;
    font-size: clamp(15px, 2vw, 20px);
    text-align: right;
}

.login-button {
    text-align: center;
    padding-right: min(3vw, calc(50vw - 47vw));
}

.login-button button {
    font-size: clamp(16px, 2vw, 30px);
    font-family: sans-serif;
    border-radius: 2em;
    background-color:rgb(6, 107, 175);
    padding: 0.1em 0.6em;
}

.login-button button:hover {
    color:white;
    background-color: rgb(4, 76, 124);
}

.login-create-acc {
    grid-column: 1/3;
    font-size: clamp(20px, 2vw, 25px);
    padding-left: 3vw;
}

#index_img {
    /**/
    width: 50vw;
    height: 100vh;
    /*/
    height: 76vh;
    margin-top: 8vh;
    margin-bottom: 16vh;
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    /**/
    /*IMAGE ALTERNATE*/
}

.register-heading {
    font-size: clamp(17px, 3vw, 35px);
    padding-top: 18vh;
    margin-left: auto;
    margin-right: 35%;
}

.register-label {
    display: inline-block;
    font-size: clamp(12px, 2.5vw, 26px);
    width: 80%;
    margin-right: 0;
    margin-left: auto;
    font-weight: bold;
}

.register-input {
    padding-left: 2vw;
    padding-right: calc(50vw - 25vw);
}

.register-input input {
    font-size: clamp(12px, 1.5vw, 28px);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}

.register-button {
    grid-row: 6;
    grid-column: 2;
    width:57%;
    text-align:right;
}

.register-button button {
    font-size: clamp(16px, 2vw, 30px);
    font-family: sans-serif;
    border-radius: 2em;
    background-color:rgb(6, 107, 175);
    padding: 0.1em 0.6em;
}

.register-button button:hover {
    color:white;
    background-color: rgb(4, 76, 124);
}

.register-have-acc {
    grid-column: 1/3;
    font-size: clamp(20px, 2vw, 25px);
    padding-left: 3vw;
}

.home-grid {
    min-height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    grid-row:3/4;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    align-items: center;
    background-color:black;
    color: #eee;
}
.creator-name {
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.footer-menu{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(33%,1fr));
    place-items: center;
}

.footer-link{
    font-size: 2em;
    list-style-type: none;
    color: #aaa;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}

.header-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70px;
    background-color:#666;
    color: white;
}
.header-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: 1fr;
    place-items:center;
    overflow:hidden;
}

.header-link
{
    list-style-type:none;
    font-size: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    color:#000;
    padding-top: 13%;
}

.header-link:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.952);
    background-color:#222;
}

.user-menu {
    display: inline-flex;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.4em;
}
  
.dropmenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-bttn {
    border-left:#222 2px solid;
    padding-left: 5px;
    margin-left: 17px;
}
  
.user-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropmenu a:hover {
    background-color: #ddd;
}

.dropdown-bttn:hover .dropmenu {
    display: block;
    margin-left: -28%;
    margin-top: 0.2%;
}

.active {
    background-color:#bbb;
}

.main-container {
    width:70%;
    margin: 2% auto auto;
    border: black 1px solid;
    height: 90%;
}

.content-container {
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.content-container > h2 {
    font-weight: normal;
    color:#aaa;
    border-bottom: 1px black solid;
    padding-left: 1%;
    padding-top: 1.5%;
    width: 94%;
    margin:auto;
    grid-row: 1/1;
    grid-column:1/4;
}

.counts {
    padding: 0;
    font-weight:bold;
    font-size: 2em;
    padding-left: 10%;
    padding-right: 5%;
}

.home-links {
    display:block;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 1.4em;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 1em;
}

.home-links:hover {
    text-decoration: none;
    color: inherit;
    background-color: #eee;
}

.left-side {
    margin: 0 10% 8%;
}

.right-side {
    margin: 10% 8% 4%;
    padding: 0% 4% 4%;
    grid-column: 3/4;
}

/* .ticket-card {
    
} */

.containers {
    grid-column : 2/4;
    grid-row: 2/5;
    width: 100%;
    box-sizing: border-box;
}

.containers > h2 {
    margin: 0;
    font-size: 2em;
    padding-bottom: 2%;
    text-align:center;
}

#send-info {
    display: grid;
    row-gap: 20%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-size: 2em;
}

#send-info label {
    text-align:center;
}

#send-info input,select{
    margin-right:auto;
    width:75%;
}

.sales-table {
    width: 95%;
    height: 100%;
    border: 2px #333 solid;
    margin-right: 5%;
    background-color:#eee;
    border-radius: 2em;
    border-spacing: 0;
}

.sales-cell {
    font-size: 150%;
    text-align:center;
}

.sales-cell:hover {
    overflow:visible;
}

.invoice-card {
    grid-column: 1/2;
    font-size: 1.6em;
    padding-top: 1.3%;
}

#show-cust-info, #save-cust-info, #show-prod-info, #save-prod-info {
    text-align:center;
    padding-top: 5%;
    background-color:transparent;
}
#show-cust-info:hover, #save-cust-info:hover, #delete-cust-info:hover, #show-prod-info:hover, #delete-prod-info:hover, #save-prod-info:hover {
    background-color: #eee;
}

#show-cust-info:active, #show-prod-info:active{
    color:white;
    background-color:#222;
}

#save-cust-info:active, #save-prod-info:active {
    background-color: #538d22;
}

#save-cust-info {
    grid-column: 3/4;
}

#delete-cust-info, #delete-prod-info {
    grid-column: 2/3;
    background-color:transparent;
    padding-top: 4.5%;
}

#delete-cust-info:active, #delete-prod-info:active {
    background-color: red;
}

#prod-spec {
    width: 75%;
    height: 125%;
    text-align:left;
}

#sales-send-info {
    display: grid;
    row-gap: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    font-size: 2em;
}

#sales-send-info label {
    text-align:center;
}

#sales-send-info input,select{
    margin-right:auto;
    width:75%;
}